*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* font size 10px */
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

#game {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.card {
  border: 0.1rem solid black;
  width: 10rem;
  height: 12rem;
}
