*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

.heading {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.card {
  border: 0.1rem solid black;
  width: 10rem;
  height: 12rem;
}

#game {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 4rem;
  gap: 4rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.landing-page {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
