@font-face {
  font-family: "milky_coffeeregular";
  src: url("../fonts/milky_coffee-webfont.woff2") format("woff2"),
    url("../fonts/milky_coffee-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --white: #fefdff;
  --transparent-white: rgba(250, 250, 250, 0.25);
  --blue: #213159;
  --black: rgb(0, 0, 0);
  --greygreen: #4b493f;
  --darkgreen: rgb(21, 42, 4);
  --green: #91cf5a;
}
#start-button:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.3rem 0.4rem rgb(21, 42, 4);
  box-shadow: 0 0.3rem 0.4rem var(--darkgreen);
}
#start-button:active {
  transform: translateY(0);
  box-shadow: none;
}
.card {
  transition: transform 0.75s;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}
.card.flipped {
  transform: rotateY(0deg);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/clouds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
html,
.heading {
  font-family: "milky_coffeeregular", fantasy;
}
.heading h1 {
  font-size: 8rem;
  color: #213159;
  color: var(--blue);
}
.heading h3 {
  font-size: 3rem;
  color: #4b493f;
  color: var(--greygreen);
}
#game-form {
  font-size: 2.75rem;
  color: #213159;
  color: var(--blue);
}
#start-button {
  font-family: "milky_coffeeregular", fantasy;
  font-size: 4rem;
  color: #91cf5a;
  color: var(--green);
  letter-spacing: 0.25rem;
}
.score-heading {
  font-size: 3.9rem;
  color: #213159;
  color: var(--blue);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.score-nums {
  font-size: 3rem;
  color: #4b493f;
  color: var(--greygreen);
  letter-spacing: 0.25rem;
}
#current-score {
  font-size: 6rem;
  color: #213159;
  color: var(--blue);
  font-weight: 600;
}
.card {
  width: 100%;
  height: 100%;
  background-image: url("https://media3.giphy.com/media/l1KVcrdl7rJpFnY2s/200.webp?cid=ecf05e47kazb49i49osx6x8plekhqp5xc4yue3mpw8kab5ec&rid=200.webp&ct=g");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: -0.3rem 0.3rem 0.5rem rgb(21, 42, 4);
  box-shadow: -0.3rem 0.3rem 0.5rem var(--darkgreen);
  border: 0.1rem solid rgb(0, 0, 0);
  border: 0.1rem solid var(--black);
  border-radius: 0.5rem;
}
.img {
  display: none;
  width: 100%;
  height: 100%;
  border: 0.1rem solid rgb(0, 0, 0);
  border: 0.1rem solid var(--black);
  border-radius: 0.5rem;
}
#start-button {
  background-color: #213159;
  background-color: var(--blue);
  padding: 2rem 4rem;
  border: 0.1rem solid #213159;
  border: 0.1rem solid var(--blue);
  border-radius: 1rem;
}
#game {
  width: 100%;
  padding: 5rem;
  display: grid;
  grid-gap: 2rem;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.25);
  background-color: var(--transparent-white);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}
#current-score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-row: mid-start / mid-end;
  grid-column: mid-start / mid-end;
}
.easy {
  grid-template-columns: [first] 14rem [mid-start] 14rem [mid-end end] 14rem;
  grid-template-rows: [first] 14rem [mid-start] 14rem [mid-end end] 14rem;
}
.medium {
  grid-template-columns: [first] 13rem [second] 13rem [mid-start] 13rem [mid-end] 13rem [end] 13rem;
  grid-template-rows: [first] 13rem [second] 13rem [mid-start] 13rem [mid-end] 13rem [end] 13rem;
}
.hard {
  grid-template-columns: [first] 13rem [second] 13rem [third] 13rem [fourth] 13rem [mid-start] 13rem [mid-end] 13rem [third-last] 13rem [second-last] 13rem [end] 13rem;
  grid-template-rows: [first] 13rem [second] 13rem [mid-start] 13rem [mid-end] 13rem [end] 13rem;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
#landing-page {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
}
.last {
  margin-bottom: 2rem;
}
#game-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.difficulty-buttons {
  margin: 0.25rem;
  width: 2rem;
  height: 2rem;
}
