.card {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  width: 12rem;
  height: 12rem;
  background-image: url(../img/world.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
