#start-button:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.3rem 0.4rem var(--darkgreen);
}

#start-button:active {
  transform: translateY(0);
  box-shadow: none;
}

.card {
  transition: transform 0.75s;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.card.flipped {
  transform: rotateY(0deg);
}
