*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/clouds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
