html,
.heading {
  font-family: "milky_coffeeregular", fantasy;
}

.heading h1 {
  font-size: 8rem;
  color: var(--blue);
}

.heading h3 {
  font-size: 3rem;
  color: var(--greygreen);
}

#game-form {
  font-size: 2.75rem;
  color: var(--blue);
}

#start-button {
  font-family: "milky_coffeeregular", fantasy;
  font-size: 4rem;
  color: var(--green);
  letter-spacing: 0.25rem;
}

.score-heading {
  font-size: 3.9rem;
  color: var(--blue);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.score-nums {
  font-size: 3rem;
  color: var(--greygreen);
  letter-spacing: 0.25rem;
}

#current-score {
  font-size: 6rem;
  color: var(--blue);
  font-weight: 600;
}
