#landing-page {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
}

.last {
  margin-bottom: 2rem;
}

#game-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  accent-color: var(--blue);
}

.difficulty-buttons {
  margin: 0.25rem;
  width: 2rem;
  height: 2rem;
}
