#landing-page {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--white);
  z-index: 1;
}

.last {
  margin-bottom: 2rem;
}

#game-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.difficulty-buttons {
  margin: 0.25rem;
  width: 2rem;
  height: 2rem;
}
